<!DOCTYPE html>
<html>

<head>
  <title>About</title>
  <link rel="icon" href="/img/weather.png">
  <link rel="stylesheet" href="/css/styles.css">
</head>

<body>

  <div class="main-content">
    <h1> {{>header}}</h1>
    <p>This page was created by Emilia, it uses data from mapbox and darksky!</p>
    <img class="portrait" src="/img/teddy.png">
  </div>

  {{>footer}}
</body>


</html>
